fastapi
uvicorn[standard]
jinja2
python-multipart
pydantic-settings

langgraph
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-tavily
langchain-pinecone
langchain-text-splitters

pinecone

sentence-transformers
beautifulsoup4
cryptography
pypdf
python-docx
python-dotenv