fastapi
uvicorn[standard]
jinja2
python-multipart
pydantic-settings

langgraph
langchain
langchain-core
langchain-community
langchain-groq
langchain-tavily
langchain-pinecone
langchain-text-splitters

pinecone
huggingface_hub

beautifulsoup4
cryptography
pypdf
python-docx
python-dotenv